<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

	<div class="container">
	
		<h2>판매자 정보</h2>
		<img width="300" th:src="${seller.profileImage}" src="https://cdn.pixabay.com/photo/2025/05/08/11/15/swan-9587142_1280.jpg">
		<div class="display-4" th:text="${seller.nickname}">백조</div>
		<h2 class="text-warning" th:text="${seller.temperature}">53.9</h2>
	
	</div>


</body>
</html>