<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.skhoct30.spring.test.ajax.repository.BookingRepository">

	<select id="selectBooking"
	resultType="com.skhoct30.spring.test.ajax.domain.Booking">
	
		SELECT
			`id`
			, `name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`
			, `createdAt`
			, `updatedAt`
		FROM
			`booking`
		ORDER BY
			`id` DESC

	</select>
	
	<delete id="deleteBooking" parameterType="int">
	
		DELETE FROM
			`booking`
		WHERE
			`id` = #{id}
	
	</delete>
	
	
	<select id="searchBooking" resultType="com.skhoct30.spring.test.ajax.domain.Booking">
		SELECT
			`id`
			, `name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`
			, `createdAt`
			, `updatedAt`
			
		FROM
			`booking`
		WHERE
			`name` = #{name}
			AND `phoneNumber` = #{phoneNumber}
	
	
	</select>
	
	
	
	


</mapper>