<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.skhoct30.spring.test.mybatis.repository.EstateRepository">
	
	
	<select id="selectEstate" parameterType="int"
	resultType="com.skhoct30.spring.test.mybatis.domain.Estate">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
	
	</select>
	
	
	<select id="selectEstateRent" parameterType="int"
	resultType="com.skhoct30.spring.test.mybatis.domain.Estate">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`rentPrice` = #{rentPrice}

	</select>


</mapper>