<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.skhoct30.spring.test.mybatis.repository.EstateRepository">
	
	
	<select id="selectEstate" parameterType="int"
	resultType="com.skhoct30.spring.test.mybatis.domain.Estate">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
	
	</select>
	
	
	<select id="selectEstateRent" parameterType="int"
	resultType="com.skhoct30.spring.test.mybatis.domain.Estate">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`rentPrice` &lt; #{rentPrice}

	</select>
	
	<!-- 파라미터가 2개 이상 있을 때 ( 입력받아야하는 값이 2개 있을 때 map 이라고 쓰고 1개면 그 타입(int String 등등) -->
	<select id="selectEstateAreaAndPirce" parameterType="map"
	resultType="com.skhoct30.spring.test.mybatis.domain.Estate">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE <![CDATA[
			`area` >= #{area}
			AND `price` <= #{price}
			]]>
	</select>
	
	<insert id="insertRealEstate"
	parameterType="map">
		INSERT INTO
			`real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
		)
		VALUE
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
		)
	
	
	
	</insert>
	
	
	
	<insert id="insertRealEstateByObject"
	parameterType="com.skhoct30.spring.test.mybatis.domain.Estate">
		INSERT INTO
			`real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
		)
		VALUE
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
		)	
	
	
	
	
	
	</insert>
	
	
	<update id="updateRealEstate" parameterType="map">
		UPDATE
			`real_estate`
		SET
			`type` = #{type}
			, `price` = #{price}
			, `updatedAt` = now()
		WHERE
			`id` = #{id}
	</update>
	
	
	
	
	<delete id="deleteRealEstate" parameterType="int">
		DELETE FROM
			`real_estate`
		WHERE
			`id` = #{id}
	
	</delete>
	
	
	
	


</mapper>