<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.skhoct30.spring.test.ajax.repository.FavoriteRepository">

	<select id="selectFavorite" resultType="com.skhoct30.spring.test.ajax.domain.Favorite">
	
		SELECT
			`id`
			, `name`
			, `url`
			, `createdAt`
			, `updatedAt`
		FROM
			`favorites`
	
	
	</select>





</mapper>