<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.skhoct30.spring.test.ajax.repository.FavoriteRepository">

	<select id="selectFavorite" resultType="com.skhoct30.spring.test.ajax.domain.Favorite">
	
		SELECT
			`id`
			, `name`
			, `url`
			, `createdAt`
			, `updatedAt`
		FROM
			`favorites`
		ORDER BY
			`id` DESC
	
	
	</select>
	
	<insert id="insertFavorite" parameterType="map">
	
		INSERT INTO
			`favorites`
		(
			`name`
			, `url`
		)
		VALUE
		(
			#{name}
			, #{url}
		)
	
	</insert>
	
	<select id="selectCountByUrl" parameterType="string" resultType="int">
	
		SELECT
			count(*)
		FROM
			`favorites`
		WHERE
			`url` = #{url}
	
	
	</select>
	
	
	<!--  delete 타입은 고정되어 있어서 resultType 은 int ( 정수로 한행을 지워서 알려주는거여서 고정이라 작성 x) -->
	<delete id="deleteFavorite" parameterType="int">
		DELETE FROM
			`favorites`
		WHERE
			`id` = #{id}
	
	
	</delete>





</mapper>