<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.skhoct30.spring.test.mvc.repository.RealtorRepository">

	<insert id="insertRealtor" useGeneratedKeys="true" keyProperty="id"
	parameterType="com.skhoct30.spring.test.mvc.domain.Realtor">
	
		INSERT INTO
			`realtor`
		(
			`office`
			, `address`
			, `phoneNumber`
			, `grade`
		)
		VALUE
		(
			#{office}
			, #{address}
			, #{phoneNumber}
			, #{grade}
		
		)
	
	
	
	
	</insert>


</mapper>