@charset "UTF-8";

#wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 100px;
}

.main-menu {
    height: 50px;
    background-color: peru
}


.contents2 > .menu1 {
    width: 400px;
    height: 300px;
    background-color: sienna
}
.contents2 > .menu2 {
    width: 500px;
    height: 300px;
    background-color: chocolate;
}
.contents2 > .menu3 {
    width: 300px;
    height: 300px;
    background-color: sienna
}


footer {
    height: 100px;
}