<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

	<div class="container">
	
		<h2>회원 정보 리스트</h2>
		
		<table class="table text-center">
			<thead>
				<tr>
					<th>No</th>
					<th>이름</th>
					<th>생년월일</th>
					<th>전화번호</th>
					<th>국적</th>
					<th>이메일</th>
					<th>자기소개</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="members, status:${members}">
					<td th:text="${status.count}">1</td>
					<td th:text="${members.name}">서강현</td>
					<!--<td th:text="${#temporals.format(birth, 'yyyy년 mm월 dd일')}">1998년 10월 30일</td> -->
					<td th:text="${members.birth}"></td>
					<td th:text="${members.phoneNumber}">010-4551-3674</td>
					<td th:text="${members.nationality}">대한민국 서울</td>
					<td th:text="${members.email}">skhoct30@naver.com</td>
					<td th:text="${members.introduce}">안녕하세요 저는 코딩을 배우...</td>
				</tr>			
			</tbody>		
		</table>
	
	
	
	</div>




</body>
</html>