<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>반복문 연습문제</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	
	<div class="container">
	
		<h2>멤버십</h2>
		<table class="table text-center">
			<thead>
				<tr>
					<th>이름</th>
					<th>전화 번호</th>
					<th>등급</th>
					<th>포인트</th>
				</tr>
			</thead>			
			<tbody>

				<tr th:each="member:${memberList}">
					<td th:text="${member.name}">손오공</td>
					<td th:text="${member.phoneNumber}">010-1234-4321</td>
					<td th:switch="${member.grade}">
						<span th:case="VIP" class="text-danger">VIP</span>
						<span th:case="GOLD" class="text-warning">GOLD</span>
						<span th:case="*" class="${member.grade}">BASIC</span>
					</td>
					<td>
						<span th:if="${member.point >= 5000}" th:text="|${member.point}P|" class="text-primary">12040P</span>
						<span th:unless="${member.point >= 5000}" th:text="|${member.point}P|">6000P</span>
					</td>
				</tr>
				
			</tbody>
			
		</table>
		
		
		
	</div>
	
	
	

</body>
</html>