<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

	<div class="container">
	
		<h2>회원 정보 리스트</h2>
		
		<table class="table text-center">
			<thead>
				<tr>
					<th>No</th>
					<th>이름</th>
					<th>생년월일</th>
					<th>전화번호</th>
					<th>국적</th>
					<th>이메일</th>
					<th>자기소개</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="members, status:${members}">
					<td th:text="${status.count}">1</td>
					<td th:text="${members.name}">유재석</td>
					<td th:text="${#temporals.format(members.birth, 'yyy년 m월 d일')}">2001년 4월 3일</td>
					
					<td>
						<span th:if="${#strings.startsWith(members.phoneNumber, '010')}" th:text="${members.phoneNumber}">010-2222-1111</span>
						<span th:unless="${#strings.startsWith(members.phoneNumber, '010')}">유효하지 않은 전화번호</span>
					</td>
					
					<td th:text="${#strings.replace(members.nationality, '삼국시대', '삼국 -')}">대한민국 서울</td>
					<td><b th:text="${#strings.arraySplit(members.email, '@')[0]}">yu</b>@<span th:text="${#strings.arraySplit(members.email, '@')[1]}">gmail.com</span></td>
					<td th:text="${#strings.abbreviate(members.introduce, 18)}"></td>
					<!-- 
					<td>
						<span th:if="${#strings.length(members.introduce) < 15}" th:text="${members.introduce}">안녕하세요 저는 코딩을 배우...</span>
						<span th:unless="${#strings.length(members.introduce) < 15}"
						 th:text="|${#strings.substring(members.introduce, 0, 15)}...|"></span>
					</td>  -->
					
					
				</tr>			
			</tbody>		
		</table>
	
	
	
	</div>




</body>
</html>